.comment_content
  %strong=comment.name
  %br
  =comment.body.html_safe
  %br
  %strong="#{time_ago_in_words(comment.created_at)} Ago"

  - if current_user.pics.pluck(:id).include?(@pic.id)
    =link_to 'Delete', [comment.pic,comment],method: :delete, class: "btn btn-danger", id: "comment-delete", data: { confirm: 'Are you sure?' }
