= form_for([@pic, @pic.comments.build]) do |f|
	.form-group
		=f.label :name
		=f.text_field :name, class: 'form-control'
	.form-group
		=f.label :body
		=f.trix_editor :body, class: 'form-control commentbody'

	= f.button :submit, class: "btn btn-info", id: "comment-submit"	
