.footer
  .social-icons.pull-right
    = link_to image_tag( 'http://www.womenactionmedia.org/cms/assets/themes/crate/images/social/facebook.png'), 'https://www.facebook.com/sampurna.chapagain'
    / .social
    /   = button_tag "<i id='github', class='icon-github'></i>".html_safe
