%nav.navbar.navbar-inverse
  .container
    %ul.nav.navbar-right
      -Category.all.each do |category|
        %li= link_to category.name, pics_path(category: category.name)
    .container
      .navbar-brand= link_to "Instagram", root_path
      =#link_to "Sign in with twitter", "/auth/twitter"
      -if user_signed_in?
        %ul.nav.navbar-nav.navbar-left
          %li= link_to "Gram It!", new_pic_path
          %li= link_to "Settings", edit_user_registration_path
          %li= link_to "Sign Out", destroy_user_session_path, method: :delete

      -else
        %ul.nav.navbar-left
          %li= link_to "Join", new_user_registration_path
          %li= link_to  "Log In", new_user_session_path
          %li= link_to "Sign in using facebook", user_facebook_omniauth_authorize_path
          %li= link_to "Sign in with Twitter", user_twitter_omniauth_authorize_path