= simple_form_for @pic, html: { multipart: true } do |f|
  - if @pic.errors.any?
    %h2 = pluralize(@pic.errors.count, "error") prevented this pic from saving !
    %ul
      -@pic.errors.full_messages.each do |msg|
        %li= msg
  .form-group
    = f.collection_select :category_id, Category.all, :id, :name, { prompt: "Choose a category" }, class: "form-control"
    = f.input :title, input_html:{ class: 'form-control' }
  .form-group
    = f.input :description, input_html:{ class: 'form-control' }
    = f.file_field :avatar, input_html:{ class: 'form-control' }

  =# render 'form', locals: { f: f }
  = f.button :submit, class: "btn btn-info"

= link_to "Back", root_path