-if user_signed_in? && current_user.likes?(@pic)
	= link_to "Unlike", pic_like_path(@pic), method: :delete, class: "glyphicon glyphicon-heart-empty like-unsuccess"
-else
	= link_to "Like", pic_like_path(@pic), method: :post, class: "glyphicon glyphicon-heart-empty like-success"

.badge.badge-notify
	=#@pic.likes.count if @pic.try(:likes)
	=@pic.try(:likes).try(:count)
