#edit_page.col-md-8.col-md-offset-2
	.row
		.panel.panel-default
			.panel-heading
				%h1 Post Pic
			.panel-body
				.current_image
					%strong.center Right Now
					= image_tag @pic.avatar.url,class: "img-responsive"
				=render 'form'


