.col-md-12
  .col-md-4.col-xs-4.col-sm-4
  .col-md-4.col-xs-4.col-sm-4
    #pics.transitions-enabled
      =form_tag pics_path, :method => 'get' do
        .input-group
          =text_field_tag :search
          = button_tag "<i class='fa fa-search'></i>".html_safe, class: 'btn btn-primary'

        - @pics.each do |pic|
          .box.panel.panel-default
            %h2= link_to pic.title, pic
            = link_to (image_tag pic.avatar.url), pic
        = paginate @pics,:theme => 'twitter-bootstrap-3'
  .col-md-4.col-xs-4.col-sm-4