= javascript_include_tag 'like.js'

#pic_show.row
	.col-md-6.col-md-offset-3
		.panel.panel-default
			= image_tag @pic.avatar.url, class: 'img-responsive'
		.panel-body
			%h1= @pic.title
			%p= @pic.description

		.panel-footer
			.row
				.col-md-6
					%p.user
						by
						= @pic.user.email
						| Submitted at :
						=time_ago_in_words(@pic.created_at)
						ago
						.hidden#pic-id
							= @pic.id
						.hidden#user-id
							= @pic.user.id
				.col-md-6
					.btn-group.pull-right
						-	if (user_signed_in? && current_user.pics.pluck(:id).include?(@pic.id))
							=link_to "Edit", edit_pic_path, class: "btn btn-info"
							=link_to "Delete", pic_path(@pic), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-danger"
						#likes
						=render partial: "like", locals: {pic: @pic}

			#comments
			=render @pic.comments
			=render partial: "comments/form"



