%html
%head
	%title InstagramClone
	= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
	= javascript_include_tag 'application', 'data-turbolinks-track' => true
	= csrf_meta_tags
%body

	= render partial: "shared/header"

	-flash.each do |name, msg|
		=content_tag :div, msg, class: "alert alert-info"

	=yield

	= render partial: "shared/footer"




